<div class="row" ng-controller='LocationController'>
  <div class="col-md-2 col-md-offset-2">
    <div class="form-group">
      <input type="text" class="form-control" ng-model = 'latitude' placeholder="Latitude:">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" ng-model = 'longitude' placeholder="Longitude:">
    </div>
  <div class="col-md-2 col-md-offset-2">
    <a class="btn btn-primary btn-block" ng-click='updateLocation(latitude, longitude)'>Set Location</a>
  </div>
  <div class="col-md-2">
    <a href="#/hourly" class="btn btn-primary btn-block" ng-click='updateHourly(latitude, longitude)'>Hourly</a>
  </div>
  <div class="col-md-2">
    <a href="#/minutely" class="btn btn-primary btn-block" ng-click='updateLocation(latitude, longitude)'>Minutely</a>
  </div>
  <div class="col-md-2">
    <a href="#/daily" class="btn btn-primary btn-block" ng-click'updateLocation(latitude, longitude)'>Daily</a>
  </div>
</div>
