<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
      <h3>Lattitude {{dailyData.latitude}}, Longitude: {{dailyData.longitude}}</h3>
    </div>
  </div>

  <div class="row">
    <div class="jumbotron col-md-12 col-sm-12">
      <h3>{{dailyData.summary}}</h3>
    </div>
  </div>

  <div class="row jumbotron">
    <div class="row">
      <div class="col-md-4">
        <h4>{{dailyData.daily[0].time * 1000 | date:"EEEE"}}</h4>
      </div>
      <div class="col-md-4 col-sm-4">
        <h4>Temperature Max:{{dailyData.daily[0].tempMax | number:0}}&deg;F</h4>
      </div>
      <div class="col-md-4 col-sm-4">
        <h4>Temperature Min:{{dailyData.daily[0].tempMin | number:0}}&deg;F</h4>
      </div>
    </div>
    <div class="row">
      <h4>Chance of Rain:{{dailyData.daily[0].precipProb * 100 | number:0}}%</h4>
    </div>
  </div>

  <div class="row jumbotron" ng-repeat='card in dailyData.daily'>
    <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <h4>Day:{{card.time * 1000 | date:'EEEE MMMM d, y'}}</h4>
        </div>
      </div>
    </div>
  </div>

</div>
