<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
      <h3>Latitude: {{hourlyData.latitude}}, Longitude:{{hourlyData.longitude}}</h3>
    </div>
  </div>
  <div class="row" ng-repeat='card in hourlyData.hourly.data'>
    <div class="col-md-6 col-md-offset-3 col-sm-6 col-md-offset-3 well">
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <img ng-src="images/{{card.icon}}.png" alt="{{card.icon}}" style='width: 100px;'>
        </div>
        <div class="col-md-4 col-sm-4">
          <h4>Temperature:{{card.temperature | number:0}}&deg;F</h3>
        </div>
        <div class="col-md-4 col-sm-4">
          <h5>{{card.time * 1000 | date:'short'}}</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <h5>Chance of Rain: {{card.precipProbability * 100 | number:0}}%</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <h5>Humidity: {{card.humidity * 100 | number:0}}%</h5>
        </div>
        <div class="col-md-6 col-sm-6">
          <h4>{{summaryLookup[card.summary] || card.summary}}</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <h5>Wind Speed: {{card.windSpeed}} mph</h5>
        </div>
      </div>
    </div>
  </div>
</div>
